body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav button {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    outline: none;
}

nav button:hover {
    background-color: #ccc;
}

.section {
    display: none;
    margin-top: 20px;
}

.active {
    display: block;
}

.progress-bar-container {
    margin-top: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.progress {
    height: 20px;
    background-color: #007BFF;
    width: 0%;
    color: white;
    text-align: center;
}
